.container {
  width: 100%;
  height: 100%;
  
  position: relative;
	margin: 0px;
  padding: 0px;
  border: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  gap: 0px;
}

.border {
  box-sizing: border-box;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  border: 10px solid #e0b000;

  display: none;
}

.border[systemic] {
  display: block;
}     

.alert-box {
  margin: 0;
  padding: 0;
  background: #0393b5;
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 30%;
}

.alert-box svg {
  fill: #fff;
}

span[disabled] {
  display: none;
}



.double, .redouble, .pass {
  width: 100%;
  height: 100%;

  background: #0f253f;
}

div[available] .double {
  background: #f0243c;
}

div[available] .redouble {
  background: #4058ed;
}

div[available] .pass {
  background: #0bcc9f;
}

.double svg, .redouble svg, .pass svg {
  height: 100%;
  width: 100%;

  stroke: #4c5c71;
  fill: #4c5c71;
}

div[available] .double svg,
div[available] .redouble svg,
div[available] .pass svg {
  stroke: #fff;
  fill: #fff;
}



.number-suit-holder {
  width: 100%;
  height: 100%;
  display: flex;
}

.number-part {
  --number-part-active-background-color: #fff;

  margin: 0px;
  height: 100%;
  flex: 2;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #0f253f;
  overflow: hidden;
}

div[available] .number-part {
  background-color: var(--number-part-active-background-color);
}

.number-part svg {
  height: 100%;
  width: 90%;

  stroke: #4c5c71;
  fill: #4c5c71;
}

div[available] .number-part svg {
  stroke: #0e1d3c;
  fill: #0e1d3c;
}

.suit-part {
  --suit-part-active-background-color: #fff;

  margin: 0pt;
  height: 100%;
  flex: 3;

  background: #0f253f;
}

div[available] .suit-part {
  background-color: var(--suit-part-active-background-color);
}

.suit-part svg {
  height: 100%;
  width: 100%;

  stroke: #4c5c71;
  fill: #4c5c71;
}

div[available] .suit-part svg {
  stroke: #fff;
  fill: #fff;
}
