<template>
  <link rel="stylesheet" href="./components/bid-board.css"/>

  <div class="bid-board">
      <bid-tile></bid-tile>
      <bid-tile></bid-tile>
      <bid-tile></bid-tile>
      <bid-tile></bid-tile>
      <bid-tile></bid-tile>

      <bid-tile></bid-tile>
      <bid-tile></bid-tile>
      <bid-tile></bid-tile>
      <bid-tile></bid-tile>
      <bid-tile></bid-tile>

      <bid-tile></bid-tile>
      <bid-tile></bid-tile>
      <bid-tile></bid-tile>
      <bid-tile></bid-tile>
      <bid-tile></bid-tile>

      <bid-tile></bid-tile>
      <bid-tile></bid-tile>
      <bid-tile></bid-tile>
      <bid-tile></bid-tile>
      <bid-tile></bid-tile>

      <bid-tile></bid-tile>
      <bid-tile></bid-tile>
      <bid-tile></bid-tile>
      <bid-tile></bid-tile>
      <bid-tile></bid-tile>

      <bid-tile></bid-tile>
      <bid-tile></bid-tile>
      <bid-tile></bid-tile>
      <bid-tile></bid-tile>
      <bid-tile></bid-tile>

      <bid-tile></bid-tile>
      <bid-tile></bid-tile>
      <bid-tile></bid-tile>
      <bid-tile></bid-tile>
      <bid-tile></bid-tile>

      <bid-tile></bid-tile>
      <bid-tile></bid-tile>
      <bid-tile pass></bid-tile>
    </div>
  </div>
</template>
