<template>
  <div class="bid-board">
    <bid-tile></bid-tile>
    <bid-tile></bid-tile>
    <bid-tile></bid-tile>
    <bid-tile></bid-tile>
    <bid-tile></bid-tile>

    <bid-tile></bid-tile>
    <bid-tile></bid-tile>
    <bid-tile></bid-tile>
    <bid-tile></bid-tile>
    <bid-tile></bid-tile>

    <bid-tile></bid-tile>
    <bid-tile></bid-tile>
    <bid-tile></bid-tile>
    <bid-tile></bid-tile>
    <bid-tile></bid-tile>

    <bid-tile></bid-tile>
    <bid-tile></bid-tile>
    <bid-tile></bid-tile>
    <bid-tile></bid-tile>
    <bid-tile></bid-tile>

    <bid-tile></bid-tile>
    <bid-tile></bid-tile>
    <bid-tile></bid-tile>
    <bid-tile></bid-tile>
    <bid-tile></bid-tile>

    <bid-tile></bid-tile>
    <bid-tile></bid-tile>
    <bid-tile></bid-tile>
    <bid-tile></bid-tile>
    <bid-tile></bid-tile>

    <bid-tile></bid-tile>
    <bid-tile></bid-tile>
    <bid-tile></bid-tile>
    <bid-tile></bid-tile>
    <bid-tile></bid-tile>

    <bid-tile></bid-tile>
    <bid-tile></bid-tile>
    <bid-tile pass></bid-tile>
  </div>
</template>
