<template>
  <div class="backdrop"></div>
  <div class="container">
    <div class="insert-row">
      <button id="convention-button">Конвенция</button>
      <button id="tile-button">Обявяване</button>
      <button id="number-operation-button">Операция с числа</button>
    </div>

    <span contenteditable class="editbox"></span>

    <div class="button-row">
      <button id="cancel-button" class="button">Отказ</button>
      <button id="confirm-button" class="button">Потвърждаване</button>
    </div>
  </div>
</template>
